In [1]:
# 평균 : 값 리스트들을 모두 더해서 가운데 값
# 중앙값 : 값 리스트들을 정렬하여 가운데에 있는 값
# 최빈값 : 값 리스트 중에 가장 빈도가 많은 값

# 편차 : 평균과의 차이
# 편차제곱 : 평균과의 차이의 제곱 (모두 양수로 만들기 위해)
# 분산 : 편차 제곱의 평균 (값 리스트들이 얼마나 퍼져 있는지 확인)
# 표준편차 : 분산에 루트씌우기

In [2]:
import numpy

data_list = [50, 1, 20, 90, 70, 22, 32, 20, 91]
print("평균 : ", numpy.mean(data_list))
print("분산  : ", numpy.var(data_list))
print("표준편차 : ", numpy.std(data_list))

평균 :  44.0
분산  :  962.8888888888889
표준편차 :  31.03045099396541

In [3]:
# mean : 평균 / 50% : 중앙값
import pandas as pd

df = pd.DataFrame(data_list)
x_des = df.describe()
x_des_round = x_des.round(2)
# print(xx)
print("평균 : ", x_des.mean())
# print(x_des_round)

평균 :  0    37.489095
dtype: float64

In [6]:
#25% : 1분위수
#50% : 2분위수(중앙값)
#75% : 3분위수
x_des

               0
count   9.000000
mean   44.000000
std    32.912763
min     1.000000
25%    20.000000
50%    32.000000
75%    70.000000
max    91.000000

In [5]:
x_des_round

           0
count   9.00
mean   44.00
std    32.91
min     1.00
25%    20.00
50%    32.00
75%    70.00
max    91.00

In [7]:
# 결측치 처리
from sklearn.impute import KNNImputer # 가장 가까운 이웃의 값으로 대체
import numpy as np
import pandas as pd

In [8]:
data_o = {'first': [100, 80, np.nan, 65],
        'second': [20, 55, 76, np.nan],
        'third': [np.nan, 70, 60, 88]}
data = pd.DataFrame(data_o)
data

   first  second  third
0  100.0    20.0    NaN
1   80.0    55.0   70.0
2    NaN    76.0   60.0
3   65.0     NaN   88.0

In [9]:
imputer = KNNImputer(n_neighbors=2)

In [10]:
data_filled = imputer.fit_transform(data)
pd.DataFrame(data_filled)

       0     1     2
0  100.0  20.0  79.0
1   80.0  55.0  70.0
2   72.5  76.0  60.0
3   65.0  65.5  88.0

In [7]:
# number = str(data_filled[0][0])
# number[:3] + "-" + number[3:]
# # num_list = list(map(int, str(number)))
# # print(num_list)