In [11]:
# 인코딩(encoding) : 카테고리값 정수 표현
# LabelEncoder
# OneHotEncoder
# binarize, Binarizer :  threshold 값을 기준으로 결과를 0, 1로 구분
# label_binarize, LabelBinarizer : one-hot-encoder와 유사하지만 실제로 사용된 클래스만 인코딩에 사용하며 0/1 대신 사용할 값을 지정
# DictVectorizer : 사전 형태로 되어 있는 feature 정보를 matrix 형태로 변환

In [2]:
# label Encoder : 범주형 데이터를 n-1까지의 연속적 수치로 표현
from sklearn.preprocessing import LabelEncoder
import sklearn.model_selection as model_selection
import sklearn.datasets as datasets

In [3]:
print("데이터를 구합니다...")
mnistBunch = datasets.fetch_openml("iris")

print("데이터를 다운로드 했습니다.")

imageNDArray = mnistBunch.data
labelNDArray = mnistBunch.target

데이터를 구합니다...

/opt/conda/lib/python3.10/site-packages/sklearn/datasets/_openml.py:292: UserWarning: Multiple active versions of the dataset matching the name iris exist. Versions may be fundamentally different, returning version 1.
  warn(
/opt/conda/lib/python3.10/site-packages/sklearn/datasets/_openml.py:932: FutureWarning: The default value of `parser` will change from `'liac-arff'` to `'auto'` in 1.4. You can set `parser='auto'` to silence this warning. Therefore, an `ImportError` will be raised from 1.4 if the dataset is dense and pandas is not installed. Note that the pandas parser may return different data types. See the Notes Section in fetch_openml's API doc for details.
  warn(

데이터를 다운로드 했습니다.

In [4]:
le = LabelEncoder()
labelNDArray

0         Iris-setosa
1         Iris-setosa
2         Iris-setosa
3         Iris-setosa
4         Iris-setosa
            ...
145    Iris-virginica
146    Iris-virginica
147    Iris-virginica
148    Iris-virginica
149    Iris-virginica
Name: class, Length: 150, dtype: category
Categories (3, object): ['Iris-setosa', 'Iris-versicolor', 'Iris-virginica']

In [5]:
le.fit(labelNDArray)

LabelEncoder()

In [6]:
# transform로 수치형 데이터 얻음
# iris 꽃 종류를 0,1,2로 분류 수치 변형 : 라벨인코딩
label_encoded = le.transform(labelNDArray)
label_encoded

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2])

In [7]:
# one-hot encoder : one-of-K : k개 값을 가지는 k-차원 벡터로 변환
from sklearn.preprocessing import OneHotEncoder
import pandas as pd
import numpy as np
np.random.randint

In [8]:
df = pd.DataFrame({'item': ['TV','냉장고','컴퓨터','컴퓨터','냉장고','에어컨','TV','TV'],
                   'count': [10, 10, 5, 10, 5, 15, 15, 5],
                   'price': np.random.randint(100000,1000000, size=8)})
df

  item  count   price
0   TV     10  526290
1  냉장고     10  768531
2  컴퓨터      5  898166
3  컴퓨터     10  631120
4  냉장고      5  898052
5  에어컨     15  248810
6   TV     15  807224
7   TV      5  414994

In [9]:
ohe = OneHotEncoder()
r_ohe = ohe.fit_transform(df)

In [11]:
# 라벨 인코딩 : k개 값을 가지는 k-차원 벡터로 변환 (다차원으로 카테고리화)
pd.get_dummies(df)

   count   price  item_TV  item_냉장고  item_에어컨  item_컴퓨터
0     10  526290        1         0         0         0
1     10  768531        0         1         0         0
2      5  898166        0         0         0         1
3     10  631120        0         0         0         1
4      5  898052        0         1         0         0
5     15  248810        0         0         1         0
6     15  807224        1         0         0         0
7      5  414994        1         0         0         0