In [9]:
import pandas as pd
import numpy as np
from time import sleep

In [16]:
from tqdm import tqdm, trange

In [17]:
for step in tqdm(range(500)):
    sleep(0.1)

100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 500/500 [00:53<00:00,  9.38it/s]

In [11]:
# fake data

In [23]:
dogs = np.random.choice(['labradoodle','beagle','mutt'], size=50_000)

In [26]:
smell = np.random.randint(0,100,size=50_000)

In [27]:
df = pd.DataFrame(data=np.array([dogs, smell]).T, columns=['dog','smell'])

In [28]:
df.head()

           dog smell
0  labradoodle    32
1  labradoodle    14
2       beagle    71
3         mutt    14
4  labradoodle    18

In [29]:
len(df)

50000

In [33]:
for dog in tqdm(dogs):
    sleep(0.00001)
print('success')

100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 50000/50000 [00:00<00:00, 68851.66it/s]

success

In [36]:
# pbar = tqdm(total=len(dogs))
pbar = tqdm(total=50_000)
for s in smell:
    pbar.update(1)
    sleep(0.0001)
pbar.close()

100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 50000/50000 [00:06<00:00, 7659.59it/s]

In [37]:
for dog in tqdm(dogs, desc='dog counter', unit='barks'):
    sleep(0.0001)

dog counter: 100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 50000/50000 [00:06<00:00, 7628.86barks/s]